.card {
  width: 600px;
  height: 400px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  color: var(--background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: transparent;
  background-size: cover;
  background-position: center;
}

.content {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-size:
}

.category {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--button-background);
  color: var(--button-text);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.title {
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  color: var(--button-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
  line-height: 1.2;
}

.divider {
  border-top: 1px solid var(--button-text);
  margin: 10px 0;
}

.authorDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.authorImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--button-text);
}

.authorName {
  font-size: 16px;
  color: var(--button-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.date {
  font-size: 14px;
  color: var(--button-text);
  text-align: right;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
