.card {
  width: 600px; 
  height: 400px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  color: var(--background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: transparent;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}

.cardContent {
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.cardCategory {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--button-background);
  color: var(--button-text);
  padding: 5px 10px;  
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.cardTitleAuthor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.cardTitle {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  color: var(--button-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.authorContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.authorImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--button-text);
}

.cardAuthor {
  font-size: 16px;
  color: var(--button-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.divider {
  border-top: 1px solid var(--button-text);
  margin: 10px 0;
  box-sizing: border-box;
}

.cardDate {
  font-size: 14px;
  color: var(--button-text);
  text-align: right;
  box-sizing: border-box;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
