.cardsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textContainer {
    text-align: center;
    margin-bottom: 5rem; 
    width: 30%; 
}

.title {
    font-size: 40px; 
    font-weight: 400; 
    color: var(--button-text); 
}

.description {
    font-size: 16px; 
    color: var(--terciary-text);
    max-width: 500px; 
    margin: 0 auto; 
}

.cardContainer {
    display: flex;
    justify-content: center;
    position: relative; 
    gap: 20px; 
}
