.embla {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.embla__viewport {
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  width: 50%;
  height: 35rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__controls {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

.embla__controls button {
  background: transparent;
  font-size: 24px;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease; 
}

.embla__controls button:hover {
  transform: scale(1.2); 
  color: var(--color-secondary);
}

.embla__button {
  background: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 10px;
  margin: 0 15px;
}

.embla__button:focus {
  outline: none;
}

.embla__button:hover {
  color: #aaa;
}

.embla__controls .fa {
  font-size: 3rem;
  color: white;
}

@media (min-width: 320px) and (max-width: 767px) {
  .embla {
    margin-top: 0;
  }

  .embla__slide {
    width: 100%;
  }

  .embla__button {
    font-size: 2rem;
    padding: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .embla {
    margin-top: 0;
  }

  .embla__slide {
    width: 100%;
  }

  .embla__button {
    font-size: 3rem;
    padding: 15px;
  }
}