.embla {
  position: relative;
  overflow: hidden;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.embla__viewport {
  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  width: 50%;
  height: 35rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.embla__controls {
  position: absolute;
  bottom: 10%; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2;
}

.embla__button {
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  padding: 15px;
}

.embla__button:focus {
  outline: none;
}

.embla__button:hover {
  color: #aaa;
  background: transparent;
}

.embla__buttonLeft {
  position: absolute;
  left: 47%; 
}

.embla__buttonRight {
  position: absolute;
  right: 47%; 
}