.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start; 
  max-width: 1200px; 
}

.categoryCard {
  flex: 1 1 25%; 
  min-width: 200px; 
  max-width: 30%; 
  background-color: lightgray;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}
