.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoriesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

