.card {
  display: flex;
  width: 650px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--background2);
  border: 1px solid white;
}

.cardImage {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px); 
  border: 3px solid rgba(255, 255, 255, 0.2); 
  margin-top: 35px; 
  margin-left: 35px; 
}

.cardContent {
  width: 45%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cardName {
  font-size: 32px;
  font-weight: 400;
  color: var(--button-text);
  margin: 20px 0 10px;
}

.cardRoleContainer {
  width: auto;
  margin: 0 auto;
}

.cardRole {
  font-size: 14px;
  font-weight: 400;
  color: var(--button-text); 
  background-color: var(--button-background);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.cardDescription {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--terciary-text);
  flex-grow: .5;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.socialIcons i {
  font-size: 1.5rem;
  color: var(--button-text);
  margin-bottom: 1rem;
}