.card {
  display: flex;
  width: 650px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--color-bg-team);
  border: 1px solid white;
}

.cardImage {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px); 
  border: 2px solid rgba(255, 255, 255, 0.2); 
  margin-top: 35px; 
  margin-left: 35px; 
}

.cardContent {
  width: 45%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cardName {
  font-size: 32px;
  font-weight: 400;
  margin: 20px 0 10px;
}

.cardRoleContainer {
  width: auto;
  margin: 0 auto;
}

.cardRole {
  font-size: 14px;
  font-weight: 400;
  background-color: var(--color-bg-light);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.cardDescription {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--color-secondary-light);
  flex-grow: .5;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.socialIcons i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .card {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 10px;
    align-items: center; 
    justify-content: center;
  }

  .cardImage {
    width: 120px;
    height: 120px;
    margin: 0 auto; /* Centraliza a imagem */
    display: block; /* Garante que a imagem seja um bloco e ocupe o espaço disponível */
  }

  .cardContent {
    width: 85%;
    display: flex;
    text-align: center;
    padding: 1rem;
  }
}

