.postDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
}

.titleContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category {
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: var(--font-size-sm);
  }

.title {
    font-size: var(--font-size-xxl); 
    font-weight: 400; 
    color: var(--button-text); 
    text-align: center;
}

.subtitle {
    font-size: var(--font-size-base);
    font-weight: 400;
    color: var(--terciary-text);
    max-width: 500px; 
    margin: 0 auto; 
    text-align: center;
}

.date {
    font-size: var(--font-size-xs);
    color: var(--button-text); 
    margin: 1rem 0;
    text-align: center;
}

.imageContainer {
    width: 100%;
    max-width: 900px;
    margin: 20px 0;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.postText {
    width: 80%;
    font-size: var(--font-size-base);
    line-height: 1.6;
    color: var(--quat-text);
    padding-right: 20px;
    text-align: justify;
    margin: 2rem 0;
}

.blockquote {
    position: relative;
    border-left: 5px solid var(--color-bg-favorite); 
    padding: 20px 40px; 
    font-size: var(--font-size-md);
    font-style: italic;
    color: var(--button-text);
    margin: 2rem 0;
    border-radius: 8px;
}

.blockquote::before {
    content: "“"; 
    font-size: var(--font-size-xxl);
    position: absolute;
    top: -10px;
    left: -5px;
    color: var(--color-bg-favorite); 
    
}

.authorContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.authorImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    margin-top: 3rem;
}

.authorName {
    margin-top: 1rem;
    font-size: var(--font-size-xs);
    font-weight: 400;
    color: var(--quat-text);
}

@media (min-width: 320px) and (max-width: 767px) {
    .titleContainer {
        width: 100%;
    }
    .contentContainer {
        flex-direction: column; 
        align-items: center;
    }

    .title {
        font-size: var(--font-size-lg);
    }
    
    .subtitle {
        font-size: var(--font-size-sm); 
    }

    .postText {
        width: 90%;
        font-size: var(--font-size-sm); 
        margin: 0;
        padding: 0;
    }

    .blockquote {
        font-size: var(--font-size-sm); 
        margin: 0;
    }

    .authorImage {
        margin-top: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .titleContainer {
        width: 90%;
    }
    .contentContainer {
        flex-direction: column; 
        align-items: center;
    }

    .title {
        font-size: var(--font-size-xl); 
    }

    .postText {
        width: 80%;
        margin: 0;
        padding: 0;
    }

    .blockquote {
        margin: 0;
    }

    .authorImage {
        margin-top: 1rem;
    }
}
