@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('../../styles/fontawesome.css');

:root {
  --background: #0C1326;        /* Cor de fundo */
  --background2: #070F1F;
  --secondary-background: #162245;
  --foreground: #ffffff;        /* Cor do texto (branco) */
  --button-background: #162246; /* Cor de fundo dos botões */
  --button-text: #ffffff;       /* Cor do texto dos botões */
  --primary-text: #ffffff;      /* Cor para texto principal */
  --secondary-text: #5D6169;    /* Cor para texto secundário */
  --terciary-text: #ACACAD;
}

body {
  color: var(--primary-text);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif; 
  
}

button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1a2a3d;  
}

a {
  color: var(--primary-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #3b82f6;  
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-text); 
}

span, li {
  color: var(--secondary-text); 
}