.page {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.pageCarrousel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.latestCardContainer {
  display: flex;                    /* Flexbox para disposição dos cards */
  flex-direction: column;           /* Centraliza os cards em coluna */
  gap: 3rem;                        /* Espaçamento entre os cards */
  width: 100%;                      /* Ocupa 100% da largura */
  margin: 10rem 0;                  /* Espaçamento superior e inferior */
  align-items: center;              /* Centraliza os cards dentro do container */
}
