.card {
    width: 850px;
    height: 500px; 
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    color: var(--color-bg-team);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.cardContent {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: var(--color-primary); 
}

.cardTitle {
    font-size: 32px;
    margin: 0;
    color: var(--color-primary); 
}

.cardAuthorDate {
    color: var(--color-primary); 
    display: flex;
    align-items: center;
    gap: 10px;
}

.authorImage {
    width: 35px;
    height: 35px;
    border-radius: 50%; 
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}

.cardAuthorDate .author, .cardAuthorDate .date {
    font-size: 16px;
    color: var(--color-primary); 
}

.cardCategory {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: var(--color-bg); 
    color: var(--color-primary); 
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.cardTitle, .cardAuthorDate .author, .cardAuthorDate .date {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.favoriteStar {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    background-color: var(--color-bg); 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px var(--color-primary);
}

.favoriteStar i {
    font-size: 14px; 
    color: var(--color-primary); 
}

@media (min-width: 320px) and (max-width: 767px) {
    .cardTitle {
        font-size: 24px;
    }
    .cardAuthorDate .author, .cardAuthorDate .date {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
  
}
